{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>About - Progressus Bootstrap template</title>

	<link rel="shortcut icon" href="{% static 'assets/images/gt_favicon.png' %}">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap-theme.css' %}" media="screen" >
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{% static 'assets/js/html5shiv.js' %}"></script>
	<script src="{% static 'assets/js/respond.min.js' %}"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'assets/images/logo.png' %}" alt="about"></a>
			</div>
			<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="{% url 'index' %}">Accueil</a></li>
                    <li><a href="{% url 'annonce' %}">Annonces</a></li>
                    <li><a href="{% url 'about' %}">À Propos</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
					<li><a class="btn" href="{% url 'new_annonce' %}">Créer annonce</a></li>
                    <li><a class="btn" href="{% url 'authentification' %">Connexion / Inscription</a></li>
                </ul>
            </div>
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">About us</h1>
				</header>
				{% for first in first %}
				<h3>{{ first.titre }}</h3>
				<p>{{ first.contenus }}</p>
				{% endfor %}

				{% for second in second %}
				<h3>{{ second.titre }}</h3>
				<p>{{ second.contenus }}</p>
				{% endfor %}

				{% for third in third %}
				<h3>{{ third.titre }}</h3>
				<p>{{ third.contenus }}</p>
				{% endfor %}

				{% for fourth in fourth %}
				<h3>{{ fourth.titre }}</h3>
				<p>{{ fourth.contenus }}</p>
				{% endfor %}
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget">
					<h4>Vacancies</h4>
					<ul class="list-unstyled list-spaces">
						{% for plus in plus %}
						<li><a href="">{{ plus.lien }}</a><br><span class="small text-muted">{{ plus.description }}</span></li>
					{% endfor %}
					</ul>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	 <footer id="footer" class="top-space">
    <div class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        {% for info in info %}
                        <p>{{ info.number }}<br>
                            <a href="mailto:#">{{ info.mail }}</a><br>
                            <br>
                            {{ info.adresse }}
                        </p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Suivez-nous</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
                            <a href="#"><i class="fa fa-github fa-2x"></i></a>
                            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                        </p>
                    </div>
                </div>
            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="{% url 'index' %}">Accueil</a> |
                            <a href="{% url 'about' %}">À Propos</a> |
                            <a href="{% url 'contact' %}">Contact</a> |
                            <b><a href="{% url 'authentification' %}">Inscription</a></b>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2024, Modeste Junior. Conçu par <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
                        </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>
</footer>





	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'assets/js/headroom.min.js' %}"></script>
	<script src="{% static 'assets/js/jQuery.headroom.min.js' %}"></script>
	<script src="{% static 'assets/js/template.js' %}"></script>
</body>
</html>